{% extends 'base.html.twig' %}

{% block title %}TRT Conseil - Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur TRT Conseil</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Vulputate
            odio ut enim blandit volutpat maecenas. Turpis egestas integer eget aliquet. In mollis nunc sed id semper.
            Lobortis feugiat vivamus at augue eget arcu. Scelerisque eu ultrices vitae auctor eu augue ut lectus.
            Rhoncus aenean vel elit scelerisque mauris. At volutpat diam ut venenatis tellus in. Amet volutpat consequat
            mauris nunc congue nisi vitae suscipit. Senectus et netus et malesuada fames. Phasellus egestas tellus
            rutrum tellus pellentesque eu tincidunt tortor. Elit ut aliquam purus sit amet luctus venenatis lectus.
            Dictum non consectetur a erat nam at lectus. Cursus vitae congue mauris rhoncus aenean vel.</p>
        <hr class="my-4">
        <p>Magna fermentum iaculis eu non diam phasellus. Euismod elementum nisi quis eleifend quam adipiscing vitae.
            Dictum non consectetur a erat. Lacus vestibulum sed arcu non odio. Enim ut tellus elementum sagittis vitae
            et leo duis. Eget velit aliquet sagittis id consectetur purus ut. Ac tortor vitae purus faucibus ornare
            suspendisse sed nisi. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Quis risus
            sed vulputate odio. Scelerisque fermentum dui faucibus in ornare. Ultrices neque ornare aenean euismod
            elementum nisi quis eleifend quam.</p>
    </div>
</div>
{% endblock %}