{% extends 'base.html.twig' %}

{% block title %}Compte validé{% endblock %}

{% block body %}
<div class="container mt-4">
  <h1>Compte Validé !</h1>
  <p>Le compte du candidat {{ user.email }} à bien été validé.</p>
  <p>Les accès candidat lui ont été accordés</p>
  <a href="{{ path('app_consultant') }}" class="btn btn-secondary">Retour à la liste des validations en attente</a>
</div>
{% endblock %}