{% extends 'base.html.twig' %}

{% block title %}Candiddature validée{% endblock %}

{% block body %}
<div class="container mt-4">
  <h1>Candidature Validée !</h1>
  <p>La candidature de {{ candidature.Candidat.Prenom }} {{ candidature.Candidat.nom }} à bien été validée.</p>
  <a href="{{ path('app_consultant') }}" class="btn btn-secondary">Retour à la liste des validations en attente</a>
</div>
{% endblock %}