{% extends 'base.html.twig' %}

{% block title %}Compléter mon profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Complétion du profil</h1>

    {{form(form)}}
</div>
{% endblock %}