<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Nouvelle candidature pour le poste de {{ candidature.Annonce.JobTitle }}!</h1>
  <p>Email : {{ candidature.Candidat.User.email }}</p>
  <p>Prénom : {{ candidature.Candidat.Prenom }}</p>
  <p>Nom : {{ candidature.Candidat.Nom }}</p>
  <p>CV: Le CV se trouvent en pièce jointe.</p>
</body>

</html>